body {
  margin: 1px;
  padding: 1px;
  background-color: rgb(230, 230, 230);
}

#head {
  width: 100%;
  text-align: center;
}

#main {
  position: relative;
  margin: 100px;
  margin-top: 3px;
}

fieldset {
  background-color: white;
}